@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"



.form-element
  width 100%
.form-element__header
  margin-left 100px
  font_text()

.form-element__content
  padding 5px 0px
.form-element__label
  width 100px
  font_text()
.form-element__element
  display inline
  margin-right 10px

.form-element__footer
  margin-left 100px
  margin-bottom 20px
  font_text()
.form-element__message
  font_text()
.form-element__description
  font_text()




@import "./responsive/style"
