.form-element
  .form-element__header Label
  .form-element__content
    label.form-element__label Label
    input(type="text").form-element__element.form-input
    span.form-element__label Description
  .form-element__footer
    .form-element__message
      TextMessageElement() Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ipsum ex reprehenderit nobis repellat eligendi maxime deleniti facere atque debitis voluptates ullam cum, laudantium sint iure, eius mollitia dignissimos fugit?
      //AlertElement(type="outline", iconType="fill" icon="home", theme="info", title="Alert Title Text") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet doloremque modi dolorem qui, quaerat doloribus amet molestiae voluptatibus officiis, itaque animi nisi consectetur illum dolor aut nihil cumque consequuntur!
    .form-element__description Description


