.chat-wrapper
  SearchBarComponent
  .chat-list(v-ios:scroll="true")
    .chat-list__content
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
      ChatComponent(@click.native="setAnimation('next');$router.push({name: 'chatView', params:{chatId:1}});")
  TabBarComponent
