@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"

.chat-list__no-content
  padding 20px
  text-align center
  color secondary_light_text
  //text-transform uppercase
  font_text()
@import "./responsive/style"
