@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"


.badge
  display inline-block
  border-radius 100px
  height 20px
  padding 0 8px
  font_text_small()
  line-height 20px



@import "./responsive/style"
