@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"

.bar-title
  font_title()
  text-align center
  width 100%
  line-height 50px
  color lighter_normal
.settings-bar
  height 50px
  max-height 50px
  min-height 50px
@import "./responsive/style"
