@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"

.text-info-component
  border-bottom 1px solid secondary_hover
  padding 8px 0

.text-info-component__title
  color brand_normal
  font_text_small()
  font-weight mediumWeight

.text-info-component__text
  font_text()
  color lighter_normal




@import "./responsive/style"
