@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"




 .change-account-form
   display flex
   flex-wrap wrap
   flex-direction row

.change-account-form__fullname
  flex-grow 1



.change-account-form
  padding 10px

.change-account-form__fullname
  flex-shrink 0
  padding-left 16px

@import "./responsive/style"


