@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"


.call__type
  color secondary_lighter_text
.call:last-child
  border none
.call
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content flex-start
  padding-left 10px
  align-items center
  cursor pointer

.call__content
  display flex
  justify-content space-between
  flex-grow 1
  max-width: calc(100% - 40px);
  border-bottom 1px solid secondary_hover
  padding-right 10px
  padding-top 5px
  padding-bottom 5px
  margin-left 10px
  align-items center

.call:last-child > .call__content
  border-bottom none



// .call__info, .call__last-message-title, .call__last-message-text
//   padding-left 10px
// .call__title
// .call__date
// .call__last-message-title
.call__title
  font_text()
  font-weight bold
  color lighter_border
.call__last-message-text, .call__date, .call__last-message-title
  font_text_small()
  color secondary_lighter_text
.call__last-message-text
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
@import "./responsive/style"
