.chat-list__content
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")
  ChatComponent(@click.native="push({name: 'chatView', params:{chatId:1}})")

