MessageSingleLayout
  template(slot="topBar")
    EditorBarComponent(titleText="Информация", saveText="Готово")
  .content-page
    .change-account-form
      .view-account__info-data
        AvatarComponent(src="" size="65px" isChange="true")
        .view-account__info
          TextComponent(labelPosition="placeholder" label="Название группы" v-model="groupName")
      .view-account__text-info
        TextComponent(labelPosition="placeholder" type="block" label="Описание" description="Можете указать дополнительную информацию о группе" v-model="about")
      .view-account__text-menu
        TextMenuComponent(title="Удалить Группу" theme="danger")
