@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"


.list__item
  list-style none

.list__item-content
  font-size 0
  letter-spacing -1px
  line-height 0

@import "./responsive/style"
