transition(name="collapse", @before-enter="beforeEnter",@enter="enter",@after-enter="afterEnter",@before-leave="beforeLeave",@leave="leave",@after-leave="afterLeave",@leave-cancelled="leaveCancelled")
  slot
