background_color = #f2f3f8
secondary_normal = #444866
secondary_hover = #303247
secondary_border = #282A3C
secondary_text = #686C89
secondary_light_text = #868AA8
secondary_lighter_text = #9297b7
primary_normal = #5867DD
primary_hover = #384AD7
primary_border = #2E40D4
primary_text = white_color

info_normal = #21A9FF
info_hover = #009AFA
info_border = #0092ED
info_text = white_color

//51F497
//2EF283
//22F27C
// success_normal = #299781
// success_hover = #2CA189
// success_border = #299781
success_normal = #299781
success_hover = #2CA189
success_border = #299781
success_text = white_color

warning_normal = #FFB822
warning_hover = #FBAA00
warning_border = #EEA200
warning_text = black_color

danger_normal = #F4516C
danger_hover = #F22D4E
danger_border = #F12143
danger_text = white_color

metal_normal = #C4C5D6
metal_hover = #ADAFC6
metal_border = #A6A7C1
metal_text = black_color

brand_normal = #716ACA
brand_hover = #564EC0
brand_border = #4D44BD
brand_text = white_color

focus_normal = #9816F4
focus_hover = #840AD9
focus_border = #7C0ACD
focus_text = white_color

transparenty_normal = rgba(255,255,255,0)
transparenty_hover = rgba(255,255,255,.25)
transparenty_border = rgba(255,255,255,.50)
transparenty_text = black_color



transpb_normal = white
transpb_hover = rgba(255,255,255,.25)
transpb_border = rgba(255,255,255,.50)
transpb_text = white

lighter_normal = gray_200
lighter_hover = gray_100
lighter_border = gray_300
lighter_text = gray_700

darker_normal = gray_700
darker_hover = gray_600
darker_border = gray_800
darker_text = gray_100



dark_light_normal = gray_400
dark_light_hover = gray_200
dark_light_border = gray_400
dark_light_text = gray_600


gray_100 = #f8f9fa
gray_200 = #e9ecef
gray_300 = #dee2e6
gray_400 = #ced4da
gray_500 = #adb5bd
gray_600 = #868e96
gray_700 = #495057
gray_800 = #343a40
gray_900 = #212529


gray_text = gray_700

white_color = gray_100
black_color = gray_900

whitey_normal = #fff
whitey_hover = gray_200
whitey_border = gray_400
whitey_text = gray_800

purplet_normal = secondary_hover
purplet_hover = secondary_border
purplet_active = secondary_normal
purplet_text = secondary_lighter_text

$colors = primary secondary success warning danger metal brand focus info lighter darker whitey dark_light transparenty purplet transpb



thinWeight = 100
ultralightWeight = 200
lightWeight = 300
mediumWeight = 500
semiboldWeight = 600
heavyWeight = 800
blackWeight = 900

monoFont = "SFMono"
textFont = "SF-Pro-Text"
displayFont = "SF-Pro-Display"


space_mirco = 8px
space_mini = 16px
space_default = 32px
space_big = 64px

$space_mirco = 8px
$space_mini = 16px
$space_default = 32px
$space_big = 64px

time_default = .25s
