WithoutSideBarLayout
  .configure-content
    transition-group(enter-active-class="animated faster fadeInRight", leave-active-class="animated faster fadeOutLeft")
      .configure-form(style="position:absolute;width:100%;height:100%;" key="0" v-show="step === 0").configure-form-pading
        .configure-logo Настраиваем Аккаунт (Имя, Фамилия)
        TextComponent(labelPosition="placeholder" v-model="firstName" label="Имя")
        TextComponent(labelPosition="placeholder" v-model="lastName" label="Фамилия" :isEnd="true")
        ButtonElement(theme="brand" border="rounded" style="margin-top:40px;" @click.native="nextAction") Далее
      .configure-form(style="position:absolute;width:100%;height:100%;" key="1"  v-show="step === 1").configure-form-pading
        .configure-logo Настраиваем Аккаунт (Фото)
        AvatarComponent(:isChange="true", v-model="avatar" size="70px")
        p(style="padding-top:10px;") Установите фото
        ButtonElement(theme="brand" border="rounded" style="margin-top:40px;" @click.native="completeAction") Далее
      .configure-form(style="position:absolute;width:100%;height:100%;" key="2"  v-show="step === 2").configure-form-pading
        .configure-logo Завершено
        p(style="padding-top:10px;text-align:center;") Вы успешно завершили настройку аккаунта, теперь вы можете начать пользоваться auilo.
        ButtonElement(theme="brand" border="rounded" style="margin-top:40px;" @click.native="okAction") Начать



