div(v-html="require('!svg-inline-loader!@assets/loaders/'+src+'.svg')", :class="[classIcon]", :style="styles")
//- svg(:viewBox="icon.viewBox", :class="[classIcon]", :style="styles")
//-   use(:xlink:href="icon.url")
