@import "~@assets/theme/variables"
@import "~@assets/theme/mixins"

.bar
  border-right 1px solid secondary_hover
  // min-height 50px
  // max-height 50px
  height 50px
  background-color secondary_border
  min-width 300px
  max-width 100%
.bar_position_top
  border-bottom 1px solid secondary_hover
.bar_position_bottom
  border-top 1px solid secondary_hover
@import "./responsive/style"
