.list-contacts
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
  //- ContactComponent(@click.native="clickAction($event, {})")
