.arrow_theme_default.arrow_top, .arrow_theme_default.arrow_bottom-right
  border-color transparent transparent secondary_border transparent

.arrow_theme_default.arrow_top-left, .arrow_theme_default.arrow_bottom
  border-color secondary_border transparent transparent transparent

.arrow_theme_default.arrow_top-right, .arrow_theme_default.arrow_left
  border-color transparent secondary_border transparent transparent

.arrow_theme_default.arrow_right, .arrow_theme_default.arrow_bottom-left
  border-color transparent transparent transparent secondary_border
