.badge_theme_primary
  background-color primary_normal
  color primary_text
.badge_theme_secondary
  background-color secondary_border
  color secondary_text
.badge_theme_warning
  background-color warning_normal
  color warning_text
.badge_theme_danger
  background-color danger_normal
  color danger_text
.badge_theme_metal
  background-color metal_normal
  color metal_text
.badge_theme_focus
  background-color focus_normal
  color focus_text
.badge_theme_success
  background-color success_normal
  color success_text
