.chat
  AvatarComponent(size="50px")
  .chat__content
    .chat__info
      .chat__title Alex Orlov
      .chat__date 21.12.18
    .chat__last-message-title Nick F
    .chat__last-message-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus molestiae eos et ut adipisci labore voluptatum sapiente totam ratione ipsum? Velit laboriosam incidunt, doloribus sit esse non molestiae animi enim?a
