.search-content(v-ios:scroll="true")
  .search-content__category
    .search-content__category-name Недавние
    .search-content__category-list

  .search-content__category
    .search-content__category-name Глобальный поиск
    .search-content__category-list

  .search-content__category
    .search-content__category-name Контакты
    .search-content__category-list

  .search-content__category
    .search-content__category-name Группы
    .search-content__category-list

  .search-content__category
    .search-content__category-name Каналы
    .search-content__category-list

